.wrapper {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    .container {
        flex: 1;
        height: calc(100vh - var(--height-player));
        display: flex;
        .sidebar {
            background-color: var(--sidebar-popup-bg);
            width: var(--width-sidebar);
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            .header {
                width: calc(100% - var(--width-sidebar));
                height: var(--height-logo);
                background-color: transparent;
                position: fixed;
                z-index: 99;
                &.sticky {
                    background-color: var(--layout-bg) !important;
                }
            }
            .page {
                background-color: var(--layout-bg);
                flex: 1;
                overflow-y: overlay;
                position: relative;
                margin: 0;
            }
            .page::-webkit-scrollbar-thumb {
                background: transparent;
            }
            &:hover {
                .page::-webkit-scrollbar-thumb {
                    background: var(--link-text);
                }
            }
        }
        .right-sidebar {
            width: var(--width-right-sidebar);
            height: calc(100vh - var(--height-player));
            right: 0;
            z-index: 99;
            background-color: var(--primary);
            transition: all 0.5s ease-out;
        }
    }
}
@media screen and (max-width: 1599px) {
    .right-sidebar {
        position: fixed;
        margin-right: -100%;
        &.active {
            transition: all 0.5s ease-out;
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 876px) {
    .right-sidebar {
        display: none;
    }
}
