.wrapper {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary);
    .container {
        width: 100%;
        height: calc(100vh - var(--height-player));
        display: flex;
        .sidebar {
            width: var(--width-sidebar);
        }
        .header {
            width: calc(100% - var(--width-sidebar));
            height: var(--height-logo);
            background-color: #ccc;
            background-color: transparent;
            position: fixed;
            z-index: 99;
            &.sticky {
                background-color: var(--layout-bg) !important;
            }
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            .page {
                background-color: var(--layout-bg);
                flex: 1;
                overflow-y: overlay;
                position: relative;
            }
            .page::-webkit-scrollbar {
                width: 4px;
                z-index: 1000;
            }
            .page::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 10px;
            }
            &:hover {
                .page::-webkit-scrollbar-thumb {
                    background: #ccc;
                }
            }
        }
    }
}
