.wrapper {
    width: var(--width-sidebar);
    height: 100vh;
    background-color: #2a213a;
    transition: all 0.3s;
    .sidebar-top,
    .sidebar-bottom,
    .library {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: 700;
        line-height: 19.5px;
    }
    .line {
        height: var(--height-line-divider-sidebar);
        display: flex;
        align-items: center;
        justify-content: center;
        .inner-line {
            width: 80%;
            border-bottom: 1px solid var(--bg-hover-color);
        }
    }
    .sidebar-top {
        .logo {
            flex-shrink: 0;
            height: var(--height-logo);
            background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg');
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: 25% 50%;
        }
    }
    .sidebar-bottom::-webkit-scrollbar {
        width: 4px;
    }
    .sidebar-bottom::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }
    .sidebar-bottom {
        width: 100%;
        height: calc(
            100vh -
                (
                    var(--height-logo) + (var(--height-item-sidebar) * 3) + var(--height-line-divider-sidebar) +
                        var(--height-option-sidebar) + var(--height-player)
                )
        );
        overflow-y: overlay;
        overflow-x: hidden;
        .box-update {
            height: 109px;
            width: calc(100% - 50px);
            padding: 15px 8px;
            margin: 10px auto;
            flex-shrink: 0;
            background: linear-gradient(90deg, #5946ce, #bf6ad9);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title {
                font-size: 12px;
                color: #fff;
                text-align: center;
            }
            .btn-update {
                text-align: center;
                a {
                    text-decoration: none;
                    padding: 6px 35px;
                    background-color: #ffdb00;
                    border-color: #ffdb00;
                    font-size: 12px;
                    border-radius: 999px;
                    color: #32323d;
                    font-weight: 600;
                }
            }
        }
        .library {
            .library-title {
                font-size: 13px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                padding: 7px 25px;
                position: relative;
                .pencil {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    visibility: hidden;
                    &:hover {
                        background-color: var(--bg-hover-color);
                    }
                }
            }
            &:hover .pencil {
                visibility: visible;
            }
        }
        &:hover.sidebar-bottom::-webkit-scrollbar-thumb {
            background: #999;
        }
    }

    .sidebar-addList {
        height: var(--height-option-sidebar);
        border-top: 1px solid var(--bg-hover-color);
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        padding-left: 25px;
        font-weight: 700;
        cursor: pointer;
        .plus {
            font-size: 20px;
            margin-right: 7px;
            font-weight: 300;
        }
    }
    .btn-extend {
        height: var(--height-option-sidebar);
        width: var(--width-sidebar);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
}
.wrapper.extend-sidebar {
    width: var(--width-sidebar-extend);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
    .logo {
        width: var(--width-sidebar-extend) !important;
        background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg') !important;
        background-size: 50% !important;
        background-position: 25% 50% !important;
    }
    .sidebar-bottom {
        width: 100%;
        height: calc(
            100vh -
                (
                    var(--height-logo) + (var(--height-item-sidebar-extend) * 3) +
                        var(--height-line-divider-sidebar-extend) + var(--height-option-sidebar) + var(--height-player)
                )
        );
    }
    .line {
        height: var(--height-line-divider-sidebar-extend) !important;
        .inner-line {
            width: 80% !important;
        }
    }
    .btn-extend {
        width: var(--width-sidebar-extend);
        justify-content: flex-end;
        padding-right: 20px !important;
    }
}
@media screen and (max-width: 1200px) {
    .wrapper {
        .logo {
            width: var(--width-sidebar) !important;
            background-image: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.29/static/media/icon_zing_mp3_60.f6b51045.svg') !important;
            background-position: 50% 50% !important;
            position: relative;
            background-size: 65% !important;
        }
        .box-update,
        .library-title,
        .sidebar-addList {
            display: none !important;
        }
        .inner-line {
            width: 60%;
        }
        .btn-extend {
            display: flex;
        }
    }
}
